{"web":
    {
        "client_id":"662539581636-8qioi3dqvne6pl0dn8gjhs3ntlmr2ckg.apps.googleusercontent.com",
        "client_secret":"kXLkAgQ6hQDvNXFbtimzgc8u",
        "redirect_uri":"http://localhost"
    }
}